/* canvas {
	border: 2px solid black;
	background-color: white;
}
video {
	display: none;
} */

canvas{
    border: solid black 2px;
    /* background: url("./textures/spectrum_background.jpg"); */
    background-repeat:no-repeat;
    width:  100%;
    height: 100%;
    margin: 0px;
}